#########################################################################
#	Création du fichier gitignore par Thibault MILLANT		#
#########################################################################

# Exclusion des fichiers de sauvegarde
*~

# Exclusion des images
*.jpg
*.jpeg
*.png

# Exclusion des fichiers de création de latexila
*.aux
*.fls
*.log
*.fdb_latexmk
*.out
*.synctex.gz
